{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /gateway* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:80
	}
}
